body {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin: 0px auto 0px auto;
    width: 600px;
}

div#header {
    text-align: center;
    border-bottom: 2px solid black;
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
}

div#header a {
    color: black;
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

div#footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3:before {
    display: inline-block;
    content: "";
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

code {
    margin: 0 5px;
    background: #eee;
}

pre > code {
    margin: inherit;
    background: inherit;
}

#content {
    margin-bottom: 200px;
}
