<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>homolo.gy - $title$</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" />
        <link rel="stylesheet" href="/css/default.css" />
        <link rel="stylesheet" href="/css/tomorrow.css" />
    </head>
    <body>
        <div id="header">
	    <a href="/">homolo.gy</a>
        </div>

        <div id="content">
            <h1>$title$</h1>
            $body$
        </div>
    </body>
    <script src="/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</html>
